<section class="bg-light" data-aos="fade-up">
  <div class="container d-flex flex-wrap justify-content-center align-items-center py-12">
    <h2 class="h3 h1-md font-weight-bold mb-4 mb-md-6" data-aos="fade-up" data-aos-delay="500">Subscribe for Exclusive
      Offer
    </h2>
    <div class="input-group align-items-center justify-content-center flex-nowrap" data-aos="fade-up">
      <input type="text" class="subscribe__input form-control border-white flex-grow-1 flex-md-grow-0 py-4 h-100"
        placeholder="Your email address" aria-label="subscribe" aria-describedby="subscribe">
      <div class="input-group-append">
        <button class="btn btn-primary btn-lg font-weight-bold px-md-7" type="button" id="subscribe">SUBSCRIBE</button>
      </div>
    </div>
  </div>
</section>