<section class="bg-light" data-aos="fade-up">
    <div class="container">
        <div class="row flex-wrap justify-content-between align-items-center py-6" data-aos="fade-up"
            data-aos-delay="500">
            <div class="col-12 col-md-4 col-lg-5 mb-4 mb-md-0">

                <h2 class="h3 h2-lg font-weight-bold text-center text-md-left">
                    Subscribe for
                    Exclusive
                    Offer
                </h2>
            </div>
            <div class="col-12 col-md-8 col-lg-7">
                <div class="input-group align-items-center justify-content-end flex-nowrap">
                    <input type="text" class="form-control border-white py-4 h-100" placeholder="Your email address"
                        aria-label="subscribe" aria-describedby="subscribe">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-lg font-weight-bold px-md-7" type="button"
                            id="subscribe">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>