.loginImg {
    @include img-cover(100vh);
    width: 100%;
    object-position: center 70%;
    z-index: -1;
}



.login {
    position: absolute;
    top: 98px;

    @include media-breakpoint-up(xl) {
        position: static;
    }
}