.member {
    margin-bottom: 48px;

    @include media-breakpoint-up(md) {
        margin-bottom: 54px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 134px;
    }

    &__img {
        @include img-cover(24px);
        width: 24px;
        border: 2px solid $primary;
    }

    &__user__img {
        @include img-cover(64px);
        width: 64px;
        position: absolute;
        top: 0;
        right: 0;

        @include media-breakpoint-up(md) {
            position: static;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
        }
    }

    &__list {
        border-radius: 8px 8px 0 0;

        @include media-breakpoint-up(md) {
            border-radius: 8px 0 0 8px;
        }

        .card-img {
            @include img-cover(226px);
            border-radius: 8px 8px 0 0;

            @include media-breakpoint-up(md) {
                height: 186px;
                border-radius: 8px 0 0 8px;
            }

            @include media-breakpoint-up(lg) {
                height: 175px;
            }
        }

        .card-body {
            @include media-breakpoint-up(md) {
                border-radius: 8px 0 0 8px;
                height: 186px;
            }

            @include media-breakpoint-up(lg) {
                height: 175px;
            }
        }
    }
}



.paymentMethods {
    &__addIcon {
        width: 32px;
        height: 32px;
    }
}