.loading {
    &--fadeOut {
        display: none !important;
        opacity: 0;
        transition: all .5s;
    }
}

.loading__img {
    height: 30px;
    -webkit-box-reflect: below -0.8rem linear-gradient(transparent, #6b51e249);

    @include media-breakpoint-up(md) {
        height: 50px;
    }
}