.budget__minValue {
    &::after {
        content: '';
        width: 1px;
        height: 32px;
        background: $black-100;
        position: absolute;
        right: 0px;
        top: 10px;

        @include media-breakpoint-up(lg) {

            width: 5px;
            height: 1px;
            background: $black-200;
            right: -13px;
            top: 50%;
        }
    }
}



.result {
    padding-right: 0;
    padding-left: 0;

    @include media-breakpoint-up(md) {
        padding-right: 15px;
        padding-left: 15px;
    }

    &__list {
        border-radius: 0;

        @include media-breakpoint-up(md) {
            border-radius: 8px 0 0 8px;
        }

        img {
            @include img-cover(150px);
            border-radius: 0;

            @include media-breakpoint-up(md) {
                border-radius: 8px 0 0 8px;
            }

            @include media-breakpoint-up(lg) {
                height: 175px;
            }
        }
    }
}