.reverse {
    margin-bottom: 48px;

    @include media-breakpoint-up(md) {
        margin-bottom: 417px;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 193px;
    }
}



/* jQuery toggle效果 */
// 文字隱藏
.totalText--hide {
    &.hide {
        visibility: hidden;
    }
}

// 箭頭旋轉
.arrowIcon--rotate {
    .material-icons {
        @include hover-linear();

        &.rotate {
            transform: rotate(180deg);
            @include hover-linear();
        }
    }
}