<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
  <!-- material icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- AOS（CDN） -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- swiper（CDN） -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <!-- datepicker（CDN） -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- rangeSlider（CDN） -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <!-- all -->
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

  <%- contents %>

  <!-- AOS（CDN） -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      duration: 600,
      once: true
    });
  </script>
  <!-- swiper（CDN） -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- jQuery（CDN） -->
  <script src="http://code.jquery.com/jquery-3.5.1.js"></script>
  <!-- BS4 -->
  <script src="./assets/js/vendors.js"></script>
  <!-- datepicker（CDN） -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <!-- rangeSlider（CDN） -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- all -->
  <script src="./assets/js/all.js"></script>
</body>

</html>