/* 記住CSS */
// 圖片取代文字
@mixin text-hidden($width, $height, $url) {
    white-space: nowrap;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: $width;
    height: $height;
    background-image: url($url);
}



// background
@mixin bg-cover($url, $height) {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url($url);
    height: $height;
}



// img
@mixin img-cover($height) {
    height: $height;
    object-fit: cover;
    object-position: center center;
}



// hover
@mixin hover-linear {
    transition: all linear 300ms;
}